/** @format */

body {
  background-image: linear-gradient(to bottom, #919a9b 0%, #eeeff2 95%);
}

.container {
  max-width: 800px;
  background-color: #fafbfc;
  border-radius: 10px;
  box-shadow: 7px 7px 2px 1px rgba(11, 11, 14, 0.1);
  padding: 10px;
  margin: 15px auto;
  display: block;
}

.changeCity {
  width: 350px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgb(185, 183, 183);
  padding: 10px;
  padding-left: 0;
}
.search {
  color: beige;
  background-color: #919a9b;
  border-radius: 6px;
  border: none;
  padding: 10px 35px;
  box-shadow: 5px 5px rgba(154, 154, 218, 0.1);
  margin: 52px 20px;
}
.currentCity {
  color: beige;
  background-color: #919a9b;
  border-radius: 6px;
  border: none;
  padding: 10px 35px;
  box-shadow: 5px 5px rgba(154, 154, 218, 0.1);
  margin: 52px 12px;
  width: 170px;
}

#time {
  color: #919a9b;
  text-align: left;
  padding: 10px;
  margin: 0 43px;
  font-size: 22px;
  font-weight: bold;
}
.parameters {
  list-style-type: none;
  text-align: right;
  margin: 0 50px;
  padding: 10px;
  position: relative;
  bottom: 83px;
  color: #919a9b;
  font-weight: bold;
  font-size: 22px;
}

.main {
  color: #919a9b;
  text-align: center;
  font-size: 70px;
  position: relative;
  bottom: 20px;
}

#mainIcon {
  display: block;
  margin: 0 auto;
  width: 150px;
  position: relative;
  bottom: 25px;
}
h5 {
  color: #118a7e;
  text-align: center;
  position: relative;
  bottom: 30px;
}
p {
  text-align: center;
  color: #118a7e;
  font-size: 25px;
  margin: 0 auto;
}
form {
  padding: 30px;
  padding-bottom: 0;
  margin: 20px;
}
hr {
  position: relative;
  top: 30px;
}

.nextDays {
  text-align: center;
  color: #118a7e;
  font-size: 17px;
  font-weight: 600;
  padding: 50px;
}
.icon {
  font-size: 25px;
  color: yellow;
}
.temperature {
  font-size: 13px;
}
.maxTemp {
  text-align: center;
  color: orangered;
}
.joy {
  font-family: monospace;
  color: black;
  text-align: center;
  opacity: 0.5;
}
.openSource {
  text-decoration: none;
}
.units {
  font-size: 25px;
  position: relative;
  bottom: 33px;
}
a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: gray;
}
